/*default setup*/
html, body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.important{
  color: red;
  background-color: lightgrey;
}
.unimportant {
  color: blue;
  background-color: green;
}
